body{
font-family: Arial;
background: linear-gradient(135deg,#1f1c2c,#928dab);
color:white;
text-align:center;
margin:0;
}

header{
padding:20px;
background:rgba(0,0,0,0.3);
backdrop-filter: blur(10px);
}

nav a{
margin:10px;
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
margin-top:50px;
}

.tools-grid{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.tool-card{
width:250px;
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(15px);
box-shadow:0 10px 30px rgba(0,0,0,0.4);
transition:0.3s;
}

.tool-card:hover{
transform:translateY(-10px) scale(1.05);
}

.tool-card a{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#ff6a00;
border-radius:10px;
color:white;
text-decoration:none;
}

.tool-container{
margin-top:80px;
}

.upload-box{
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.15);
width:400px;
margin:auto;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

button{
padding:10px 20px;
margin-top:10px;
border:none;
background:#ff6a00;
color:white;
border-radius:10px;
cursor:pointer;
}

.tools-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
max-width:1000px;
margin:auto;
margin-top:40px;
}

.tool-card{
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.12);
backdrop-filter:blur(15px);
box-shadow:0 10px 25px rgba(0,0,0,0.4);
transition:0.3s;
text-align:center;
}

.tool-card:hover{
transform:translateY(-8px) scale(1.03);
}

.tool-card a{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#35f391;
border-radius:10px;
color:black;
font-weight:bold;
text-decoration:none;
}

/* 3d animation */
.floating-tools{
display:flex;
justify-content:center;
gap:30px;
margin-top:50px;
}

.tool-box{
padding:25px;
background:rgba(255,255,255,0.15);
border-radius:15px;
backdrop-filter:blur(10px);
animation:float 4s ease-in-out infinite;
box-shadow:0 15px 30px rgba(0,0,0,0.4);
}

@keyframes float{

0%{transform:translateY(0px);}

50%{transform:translateY(-15px);}

100%{transform:translateY(0px);}

}

/*  */
.faq-section{
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
}

.faq-box{
  background: rgba(255,255,255,0.10);
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
}